<div class='row'>
    <div class='col-md-6 col-md-offset-3'>
        <div class='post'>
        <h4><%= @thread.title.titleize %></h4> 

        <div class='meta'>
        <%= @thread.created_at.strftime("%d %M %Y") %> by <%= @thread.user.name %>
        </div>

        <div class='content'>
        <%= @thread.content %>
        </div>
        
        <% if policy(@thread).edit? %>
        <div class='action'>
        <%= link_to 'edit', edit_forum_thread_path(@thread), class: 'btn btn-primary' %>
        <%= link_to 'delete', forum_thread_path(@thread), method: :delete, data: {confrim: 'are you sure?'}, class: 'btn btn-primary' %>
        </div>
        <% end %>

        <% if @thread.forum_posts.any? %>
            <%= @posts.each do |p| %>
                <div class='post'>
                </div>     
                <div class='meta'>
                <%= p.created_at.strftime("%d %M %Y") %> by <%= p.user.name %>
                </div>
                <div class='content'>
                <%= p.content %>
                </div>          
            <% end %>
        <% else %>
            <div>
            be the first commentator
            </div>
        <% end %>

        <% if @post.errors.any? %>
        <div class='alert alert-danger alert-dismissible'> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <% @post.errors.full_messages.each do |error| %>
            <span><%= error %></span></br>
            <% end %>
        </div>
        <% end %>

        <% if user_signed_in? %>
            <%= form_for [@thread, @post] do |q| %>
                <div class='form_group'>
                <%= q.label :content %>
                <%= q.text_area :content, rows: 10, class: 'form-control' %>
                </div>

                <div class='form_group'>
                <%= q.submit 'save', class: 'btn btn-primary form-control' %>
                <div>
            <% end %>
        <% end %>

        <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>

    </div>
</div>
